<template name="layout">
<head>
	<title>Mate Central</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8 head">{{>header}}</div>
        <div class="col-md-2"></div>

</div>
<div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-8">{{>yield}}</div>
    <div class="col-md-2"></div>

</div>








	<br />

	
		

	
<div class="signInStyle">{{>atForm}}</div>

</template>