<template name="header">

<div class="row">

    <ul class="nav nav-pills">
    <li>
      <a class="active" href="{{pathFor 'today'}}">Today</a>
    </li>
    <li>
      <a href="{{pathFor 'thisWeek'}}">This Week</a>
    </li>
    <li>
      <a href="{{pathFor 'coolLinks'}}">Cool Links</a>
    </li>
    <li>
      <a href="{{pathFor 'textSnippets'}}">Text Snippets</a>
    </li>
       <li>
      <a href="{{pathFor 'music'}}">Music</a>
    </li>
       <li>
      <a href="{{pathFor 'chat'}}">Chat</a>
    </li>
      <li>
      <a href="{{pathFor 'photos'}}">Photos</a>
    </li>
  </ul>
</div>


  

</template>
